* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-image: url(./images/skl1.jpg);

  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ul {
  float: right;
  list-style-type: none;
}

ul li {
  display: inline-block;
}

ul li a {
  text-decoration: none;
  color: rgb(230, 240, 248);
  margin-top: 100px;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: 0.6s ease;
  border: 1px solid transparent;
  border-radius: 15px;
}
ul li a:hover {
  background-color: rgb(199, 156, 156);
}

ul li.active a {
  background-color: rgb(153, 175, 175);
}

.logo h3 {
  position: fixed;
  float: left;
  font-size: 32px;
  margin-top: 1px;
  margin-left: 60px;
  font-style: oblique;
  color: rgb(199, 156, 156);
}

.inde-day {
  width: 46%;
  margin-top: 4.3%;
  margin-left: 10%;
  float: left;
  border: 1px solid transparent;
  border-radius: 10px;
}

.eve-1 {
  width: 29%;
  margin-top: 4.1%;
  margin-left: 3.5%;
  float: left;
  border: 1px solid transparent;
  border-radius: 10px;
}

.eve-2 {
  width: 29%;
  margin-top: 4.7%;
  margin-left: 61%;
  float: left;
  border: 1px solid transparent;
  border-radius: 10px;
}

.text {
  position: fixed;
  width: 50%;
  top: 75%;
  left: 35%;
  text-align: justify;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
  font-style: normal;
}
.text_h3 {
  position: fixed;
  top: 56%;
  left: 14%;
  text-decoration: underline;
  text-align: left;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 40px;
  font-style: normal;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
